.options_container {
    margin-left: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .05);
    height: auto;
    width: 98%;
  }
  
  .training_container {
    padding: 20px;
  }
  
  mat-card {
    font-size: 0.9em;
    margin-left: 5px;
    margin-top: 20px;
    padding: 3px;
    padding-left: 15px;
    padding-top: 15px;
    
    padding-bottom: 15px;
  }
  
  mat-slider {
    width: 95%;
  }
  
  h3 {
      font-weight: 400;
      color: #545454;
  }
  
  .buttons_control_container {
      padding-bottom: 15px
  }