mat-toolbar {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

mat-toolbar-row .title {
    margin-right: 30px
}

mat-toolbar-row button {
    margin-left: 2px
}

.active {
    color: #ABAAB5;
}